<html> 
<head> 
	<title>gfg</title> 
	<style type=text/css> 
		.leftdiv 
		{ 
		float: left; 
		} 
		.middlediv 
		{ 
		float: left; 
		background-color:gray 
		} 
		.rightdiv 
		{ 
		float: left; 
		} 
		div{ 
		padding : 1%; 
		color: white; 
		background-color: 009900; 
		width: 30%; 
		border: solid black; 
		} 
	</style> 
</head> 
<body> 
	<div class="leftdiv"> 
		<h1>GeeksforGeeks</h1> 
		<p>How many timeted 
		questions. 
	</p> 
		<h2>GeeksforGeeks</h2> 
		<p>GCET is anars of industry experience. 
	</p> 
	</div> 
	<div class="middlediv"> 
		<h1>GeeksforGeeks</h1> 
		<p>How many titions. 
		</p> 
		<h2>GeeksforGeeks</h2> 
		<p>GCET is an entra
		</p> 
	</div> 
	<div class="rightdiv"> 
		<h1>GeeksforGeeks</h1> 
		<p>How many t
		</p> 
		<h2>GeeksforGeeks</h2> 
		<p>How man	 
		</p> 
	</div> 
</body> 
</html> 
