<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/a.css">
    <title>
        Aliens
    </title>
</head>

<body bgcolor="black">
    <div class='fo' ; style="background-color: black;">
        <div class="cont" >
            <h1 style='text-align:center;'>
                <b>ALIENS</b><img src="static/ty.gif" height=160px alt="aliens" style="vertical-align:middle">
            </h1>
        </div>
            
        
        <!-- <img src="{{url_for('static', filename='Hermes.png')}}align="middle" /> -->
 
    </div>
<div>
    <div class="fo fo-div1">
        <h2>Register</h2>
        <div class="fo fo-div2" >
            <form>
                <hr>
                <label><b>Name :</b></label>
                <input type='text' name='Name' placeholder="Name">
                <label><b>Password :</b></label>
                <input type='text' name='Password' placeholder='Password'>
                <hr>
                
                <input type='submit' value='Log in' class="registerbtn">

            </form>

        </div>
    </div>
    <div class="fo fo-div1" style="width: 70%;height: 100%;">
        <h2>
            <b>ALIENS Gallery</b>
        </h2>

    </div>
</div>
    <br>
    <p class='fo'style='text-align: center;'><b>We are not from your Earth.</b></p>
   
</body>

</html>